<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="flex items-center">
      Viaje de la vida AR
      <ion-badge color="warning" *ngIf="isDebugMode">Debug</ion-badge>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="min-h-screen hero bg-base-200">
    <div class="flex-col hero-content lg:flex-row">
      <img alt="App logo" src="assets/icon/favicon.jpg" class="rounded-lg shadow-2xl md:max-w-sm" />
      <div>
        <h1 class="text-5xl font-bold">¡Bienvenido a Viaje de la Vida!</h1>
        <p class="py-6">Esperamos sea de tu agrado esta experiencia.</p>
      </div>
    </div>
  </div>
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Menu</ion-label>
    </ion-list-header>
    <ion-item button (click)="navigateTravelMenu()">
      <ion-label>Iniciar Viaje</ion-label>
    </ion-item>
    <ion-item button (click)="navigateInstructions()">
      <ion-label>Instrucciones</ion-label>
    </ion-item>
    <ion-item button (click)=" navigateCredits()">
      <ion-label>Créditos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
