<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Viaje de la vida AR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list [inset]="true">
    <ion-list-header>
      Menu
    </ion-list-header>
    <ion-item (click)="navigateCredits()">
      <ion-label>Créditos</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="openAR()">
    <ion-fab-button color="primary">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
