<ion-header class="ion-no-border">
  <nav class="navbar bg-neutral">
    <div class="flex items-center justify-center flex-1 gap-4 text-xl font-semibold">
      <span>
        Viaje de la Vida AR
      </span>
      @if (isDebugMode()) {
      <div class="badge badge-warning">
        Debug
      </div>
      }
    </div>
  </nav>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="flex flex-col gap-4">
    <div class="min-h-screen rounded-box hero bg-neutral">
      <div class="flex-col hero-content lg:flex-row">
        <img alt="App logo" src="assets/icon/favicon.jpg" class="rounded-lg md:max-w-sm" />
        <div>
          <h1 class="text-4xl font-bold">¡Bienvenido a Viaje de la Vida!</h1>
          <p class="py-6 text-xl">Esperamos sea de tu agrado esta experiencia.</p>
        </div>
      </div>
    </div>
    <ul class="menu bg-neutral rounded-box">
      <li class="text-2xl menu-title">Menu</li>
      <li>
        <a (click)="navigateTravelMenu()" class="text-lg">Iniciar viaje</a>
      </li>
      <li>
        <a (click)="navigateInstructions()" class="text-lg">Instrucciones</a>
      </li>
      <li>
        <a (click)=" navigateCredits()" class="text-lg">Creditos</a>
      </li>
    </ul>
  </div>
</ion-content>
