<ion-header>
  <nav class="gap-2 navbar bg-neutral">
    <div class="flex-none">
      <button class="btn btn-squarebtn-ghost" (click)="navigateHome()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M15 6l-6 6l6 6" />
        </svg>
      </button>
    </div>
    <div class="flex-1">
      <span class="text-xl font-semibold">Creditos</span>
    </div>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="/assets/img/portada.jpg" />
</ion-content>
